			<div id="musicPlayer">
				<div id="listenToPlaylist" class="span12">
					<h2>This is your #AutoTuneApp Playlist</h2>
					<p>Your friends' suggestions will be added in realtime</p>
				</div>
				
				<div id="playerBackground">
					<div id="next"></div>
					<p>This is where the player goes</p>
				</div>
			</div><!--#musicPlayer-->