			<div id="musicPlayer">
				<div id="listenToPlaylist" class="span12">
					<h2>This is your #AutoTuneApp Playlist</h2>
                    <h3>This track's tweet:</h3>
					<p><%= @tweet.text %></p>
				</div>
				
				<div id="playerBackground">
					<div id="next"></div>
					<p>This is where the player goes</p>
				</div>
			</div><!--#musicPlayer-->