<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<div id="logo"><a href="/">#AutoTuneApp</a></div>
			<nav>
			<ul class="nav pull-right">
				<% if authenticated? %>
					<li><%= link_to "@#{session[:twitter_name]}", signout_path %></li>
				<% else%>	
				<li><%= link_to "Twitter", twitter_signin_path %></li>
				<li><%= link_to "Rdio", rdio_signin_path %></li>
				<% end%>
			</ul>
			</nav>
		</div>
	</div>
</header>